__pycache__/
*.py[cod]
.venv
.uv

dbt_vault_retail/dbt_packages/
dbt_vault_retail/target/
dbt_vault_retail/logs/
dbt_vault_retail/.user.yml

airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

.DS_Store
*.duckdb
*.db

.env
*.pem

.ruff_cache
