__pycache__/
*.py[cod]
.venv
.uv

dbt_project/dbt_packages/
dbt_project/target/
dbt_project/logs/
dbt_project/profiles.yml

airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

.DS_Store

.env
*.pem