name: CI Pipeline

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
  SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
  SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
  SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
  SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
  SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
  SNOWFLAKE_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install ruff
          ruff check .
          ruff format --check .

  dbt-check:
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: ./dbt_project

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dbt
        # Нам нужен только snowflake адаптер
        run: |
          pip install --upgrade pip
          pip install dbt-snowflake==1.7.2 dbt-core==1.7.10

      - name: Create CI profiles.yml
        # ВАЖНО: Мы генерируем конфиг для SNOWFLAKE, подставляя env_var
        run: |
          mkdir -p ~/.dbt
          echo "retail_vault_profile:" > ~/.dbt/profiles.yml
          echo "  target: snowflake" >> ~/.dbt/profiles.yml
          echo "  outputs:" >> ~/.dbt/profiles.yml
          echo "    snowflake:" >> ~/.dbt/profiles.yml
          echo "      type: snowflake" >> ~/.dbt/profiles.yml
          echo "      account: $SNOWFLAKE_ACCOUNT" >> ~/.dbt/profiles.yml
          echo "      user: $SNOWFLAKE_USER" >> ~/.dbt/profiles.yml
          echo "      password: $SNOWFLAKE_PASSWORD" >> ~/.dbt/profiles.yml
          echo "      role: $SNOWFLAKE_ROLE" >> ~/.dbt/profiles.yml
          echo "      warehouse: $SNOWFLAKE_WAREHOUSE" >> ~/.dbt/profiles.yml
          echo "      database: $SNOWFLAKE_DATABASE" >> ~/.dbt/profiles.yml
          echo "      schema: $SNOWFLAKE_SCHEMA" >> ~/.dbt/profiles.yml
          echo "      threads: 4" >> ~/.dbt/profiles.yml
          echo "      client_session_keep_alive: False" >> ~/.dbt/profiles.yml

      - name: Install dbt packages
        run: dbt deps

      - name: Run dbt Build
        run: dbt build --target snowflake
